@layer reset {
  :root {
    -webkit-user-select: none;
    user-select: none;
  }

  * {
    -webkit-user-drag: none;
  }

  :where(
    input,
    textarea,
    [contenteditable=""],
    [contenteditable="true"],
    [contenteditable="plaintext-only"],
    [data-selectable]
  ) {
    -webkit-user-select: text;
    user-select: text;
  }
}

*,
*::before,
*::after {
  cursor: default !important;
}

:where(
  input:not([type]),
  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  textarea,
  [contenteditable=""],
  [contenteditable="true"],
  [contenteditable="plaintext-only"],
  [data-selectable]
),
:where(
    [contenteditable=""],
    [contenteditable="true"],
    [contenteditable="plaintext-only"],
    [data-selectable]
  )
  * {
  cursor: text !important;
}
